.nowPlayingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 22px;
    width: 75%;
    max-width: 100px;
    margin: auto;
}

.nowPlayingCard.light-mode {
    border: 2px solid black;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
}

.nowPlayingCard.dark-mode {
    border: 2px solid white;
    box-shadow: 5px 5px 0 rgba(255, 255, 255, 0.3);
}

.nowPlayingCard:hover {
    cursor: pointer;
    transform: translateX(-10px) translateY(-10px);
    transition: all 0.5s ease;
}

.nowPlayingCard.light-mode:hover {
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.1);
}

.nowPlayingCard.dark-mode:hover {
    box-shadow: 10px 10px 0 rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
}

.nowPlayingCard .nowPlayingImage img {
    border-radius: 8px;
    transition: all 0.5s ease;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin: 20px;
}

.nowPlayingCard.light-mode .nowPlayingImage img {
    border: 1px solid black;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.nowPlayingCard.light-mode .nowPlayingImage img:hover {
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3);
    transform: translateX(-3px) translateY(-3px);
}

.nowPlayingCard.dark-mode .nowPlayingImage img {
    border: 1px solid white;
    box-shadow: 3px 3px 0 rgba(255, 255, 255, 0.3);
}

.nowPlayingCard.dark-mode .nowPlayingImage img:hover {
    box-shadow: 5px 5px 0 rgba(255, 255, 255, 0.3);
    transform: translateX(-3px) translateY(-3px);
}

.nowPlayingDetails, .nowPlayingTime, .nowPlayingArtist, .nowPlayingState {
    text-align: center;
    margin-top: 10px;
}

.nowPlayingDetails {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nowPlayingDetails .nowPlayingTitle {
    font-size: 20px;
    white-space: nowrap !important; /* Prevent text from wrapping */
    overflow: hidden !important; /* Hide overflow text */
}

.nowPlayingState img {
    height: 50px;
}

.nowPlayingCard.dark-mode .nowPlayingState img {
    filter: none;
}

.nowPlayingCard.light-mode .nowPlayingState img {
    filter: brightness(0) invert(0);
}
