/* Container for the overall experience section */
.experience-container {
  /* padding-bottom: 25px; */
}

/* Dark mode specific container class */
.experience-container.dark-mode .experience-accordion-item {
  background-color: #18181b !important;
}

/* Accordion list container with rounded corners */
.experience-accordion-list {
  overflow: hidden;
  border-radius: 15px;
}

/* Accordion item styling, retaining background and removing box shadows */
.experience-accordion-item {
  background-color: inherit !important;
  box-shadow: none !important;
  color: inherit !important;
  margin: 0 !important;
  position: relative;
  padding-bottom: 1px; /* Space for border */
}

/* Adds a 90%-width border at the bottom */
.experience-accordion-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2.5%; /* 5% left margin */
  width: 95%; /* 90% wide border */
  border-bottom: 1px solid #ffffff35; /* Border style */
  box-sizing: border-box; /* Prevents width changes affecting size */
}

/* Hide the border for the last accordion */
.experience-accordion-item:last-child::after {
  display: none;
}

/* Prevent margins on expanded accordion items */
.experience-accordion-item.expanded {
  margin-bottom: 0 !important;
}

/* Accordion summary styling */
.experience-accordion-summary {
  align-items: center;
  display: flex;
  cursor: pointer;
  width: 100%;
}

/* Styling for the company logo */
.experience-company-logo {
  background-color: white;
  border-radius: 50%;
  height: 40px;
  margin-right: 16px;
  object-fit: contain;
}

/* Container for summary text */
.experience-summary-text {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1rem !important;
}

.date {
  font-size: 0.75rem !important;
}

.description {
  font-size: 1rem !important;
}

/* Padding for accordion details */
.accordion-details {
  padding: 16px !important;
}
