/* Card container */
.nowPlayingCard {
  align-self: flex-start;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  max-width: 400px;
  width: 95%;
  height: 100px;
  margin: auto;
}

.nowPlayingCard.light-mode {
  border: 2px solid #000; /* Black border */
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3); /* Black shadow */
}

.nowPlayingCard.dark-mode {
  border: 2px solid #fff; /* White border */
  box-shadow: 5px 5px 0 rgba(255, 255, 255, 0.3); /* White shadow */
}

.nowPlayingCard:hover {
  cursor: pointer;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3); /* Black shadow */
  transform: translateX(-10px) translateY(-10px);
  transition: all 0.5s ease;
}

.nowPlayingCard.light-mode:hover {
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.1);
}

.nowPlayingCard.dark-mode:hover {
  box-shadow: 10px 10px 0 rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}

/* Image */
.nowPlayingCard .nowPlayingImage img {
  border-radius: 8px;
  transition: all 0.5s ease;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  margin: 10px;
}

.nowPlayingCard.light-mode .nowPlayingImage img {
  border: 1px solid #000; /* Black border */
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3); /* Black shadow */
}

.nowPlayingCard.light-mode .nowPlayingImage img:hover {
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.3); /* Black shadow */
  transform: translateX(-3px) translateY(-3px);
}

.nowPlayingCard.dark-mode .nowPlayingImage img {
  border: 1px solid #fff; /* White border */
  box-shadow: 3px 3px 0 rgba(255, 255, 255, 0.3); /* White shadow */
}

.nowPlayingCard.dark-mode .nowPlayingImage img:hover {
  box-shadow: 5px 5px 0 rgba(255, 255, 255, 0.3); /* White shadow */
  transform: translateX(-3px) translateY(-3px);
}

/* Details */
#nowPlayingDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 54%;
  height: 100%;
  overflow: hidden;
}

.nowPlayingTitle,
.playlistName {
  flex-shrink: 0;
  white-space: nowrap;
  text-align: left;
  font-size: 20px;
  width: 100%;
}

.nowPlayingArtist,
.playlistHeader {
  text-align: left;
  flex-shrink: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.nowPlayingTime {
  text-align: left;
}

.nowPlayingState {
  text-align: center;
  width: 15%;
  padding: 10px;
}

.nowPlayingState img {
  width: 100%;
}

.nowPlayingCard.dark-mode .nowPlayingState img {
  filter: none;
}

.nowPlayingCard.light-mode .nowPlayingState img {
  filter: brightness(0) invert(0);
}

.nowPlayingCard.light-mode .nowPlayingState img.dog {
  filter: none;
}
