/* Scrollbar settings for all browsers */
html {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overflow: overlay;
}

/* Scrollbar settings specifically for WebKit browsers */
html::-webkit-scrollbar {
  width: 0px;
}

html::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Universal body styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Universal styles for code elements */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
